:root {
  /* pretty colors */
  --background-color: #febe14;
  --text-color: black;
  --accent-red: #ef382e;
  --accent-orange: #f47733;
  --accent-green: #42b658;
  --accent-blue: #5073b8;
  --accent-purple: #a14d9d;
  --accent-pink: #ef4988;

  /* units */
  --header-height: 8vh;
  --default-padding: 2em;
  --border-thickness: 2px;
  --border-radius: 10px;

  /* setting some stuff */
  background-color: var(--background-color);
  font-family: "elza-narrow", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-family: "ruddy", sans-serif;
  font-size: 5.8vw;
}

h2,
h3 {
  font-family: "elza-narrow";
  font-weight: 400;
  margin-top: 0.5vw;
  font-size: 4.5vw;
  line-height: 1.2;
}

p {
  font-family: "elza-narrow";
}

body {
  padding: var(--default-padding);
  margin: auto;
}

.outlined-box {
  border: var(--border-thickness) solid var(--text-color);
  box-shadow: 3px 3px var(--text-color);
  padding: var(--default-padding);
}

.lizard {
  max-height: 8vh;
  height: var(--header-height);
  position: absolute;
  margin-left: 0;
}

.lizard#tongue {
  /* animation: tongue_stick_out 30s infinite step-end; */
  opacity: 0;
}

header {
  display: flex;
  flex-direction: column;
  height: var(--header-height);
}

/* keyframe opacity from 0 to 1 with 30 seconds inbetween */
@keyframes tongue_stick_out {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  6% {
    opacity: 0;
  }
}

#turbulence {
  filter: url(#turbulence-filter);
}
.hero {
  padding-top: 1em;
  /* max-width: 500px; */
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 19vh;
  margin-bottom: 10vh;
}

.hero > * {
  margin-bottom: 0;
}

menu {
  display: flex;
  align-self: flex-end;
  gap: 1.5em;
  margin: auto;
  margin-right: 0;
  align-self: flex-end;
  flex-wrap: wrap;
  padding: 0;
}

menu > a {
  text-decoration: none;
  color: black;
  vertical-align: middle;
  font-weight: 400;
  font-family: elza-narrow;
  font-size: calc(12px + 1.5vw);
}

button {
  transition: ease-in-out 0.2s;
  margin: auto;
  display: block;
}

button.rounded {
  border-radius: 10px;
  padding: 1em;
  box-shadow: 10px 10px var(--text-color);
  font-family: "elza-narrow";
  font-size: 120%;
  outline: 0;
  border: none;
  color: white;
  background-color: var(--accent-red);
}

button.rounded:hover {
  background-color: rgb(193, 0, 0);
}

button.rounded:hover > span {
  color: white;
}

button.rounded:active {
  box-shadow: 0px 0px var(--text-color);
}

.hero-container {
  height: 100vh;
}

/* body {
  background-image:
    linear-gradient(45deg, #e8a42e 25%, transparent 25%), 
    linear-gradient(135deg, #e8a42e 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #e8a42e 75%),
    linear-gradient(135deg, transparent 75%, #e8a42e 75%);
  background-size:25px 25px; 
  background-position:0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px;
} 
*/

.skill {
  border: var(--border-thickness) solid var(--text-color);
  border-radius: 10px;
  padding: 7px;
  background-color: black;
  color: white;
  text-wrap: nowrap;
}

.skill-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 0.5em;
}

.project {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.project-container > * {
  background-color: var(--accent-pink);
  color: white;
  padding: var(--default-padding);
  border-radius: 10px;
  box-shadow: 10px 10px var(--text-color);
  width: 40%;
  height: 40%;
  margin: auto;
}

.project > h3 {
  margin-bottom: 2vw;
}

.mockup {
  margin-bottom: 0;
}

.projects-scroll {
  display: flex;
  flex-direction: column;
  row-gap: 5vw;
}

#olympics {
  background-color: var(--accent-pink);
}

#daily-illini {
  background-color: var(--accent-orange);
}

#pocket-bringhurst {
  background-color: var(--accent-blue);
}

#corporate-relations {
  background-color: var(--accent-red);
}

#this-website {
  background-color: var(--accent-purple);
}

.projects-scroll > a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.project > img {
  padding: 2em;
  margin-bottom: 2vw;
  margin-top: 2vw;
  max-height: 40vh;
  object-fit: contain;
}

/* adjust for mobile */

@media only screen and (max-width: 450px) {
  .lizard {
    height: 8vw;
  }

  h1 {
    font-size: 14vw;
    margin-top: 0;
    text-align: left;
    line-height: 1.2;
  }

  h2 {
    font-size: 7vw;
    text-align: left;
    margin-top: 4vw;
  }

  .project > h3 {
    font-size: 7vw;
    margin-bottom: 3vw;
  }

  menu {
    margin-top: 3.25vw;
  }
  .hero {
    margin-top: 12vw;
  }

  .hero-container {
    height: 50vh;
  }

  .projects-scroll {
    margin-top: 30vw;
  }

  .project {
    width: 70%;
    overflow: hidden;
  }

  .projects-scroll {
    gap: 10vw;
  }

  .skill {
    font-size: 4.25vw;
    font-weight: 200;
  }

  .project > img {
    padding: 0;
    margin-bottom: 6vw;
    max-height: 20vh;
    object-fit: contain;
  }
}
