.project-title {
  justify-content: center;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 2.5vw;
}

.project-details {
  color: white;
  padding: var(--default-padding);
  border-radius: 10px;
  box-shadow: 10px 10px var(--text-color);
  height: 40%;
  width: 40%;
  margin: auto;
}

.project-details#olympics {
  background-color: var(--accent-pink);
}

.project-details#thedailyillini {
  background-color: var(--accent-orange);
}

.project-details#pocketbringhurst {
  background-color: var(--accent-blue);
}

#big-photo {
  width: 30vw;
}

.project_intro {
  margin-bottom: 5vw;
  background-color: var(--background-color);
  padding-top: 0;
  padding-bottom: 8vw;
}

h4 {
  font-size: 3vw;
  font-weight: 400;
  margin-bottom: 1.5vw;
  margin-top: 0;
}

.dates {
  border: var(--border-thickness) solid var(--text-color);
  border-radius: 10px;
  padding: 7px;
  background-color: black;
  color: white;
}

.project-focus {
  background-color: white;
  padding: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-paragraph {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.project-paragraph > p {
  margin-bottom: 0;
}

p {
  font-size: 1.5vw;
  line-height: 1.4;
}

.inline-photo {
  width: 70vw;
  margin-bottom: 5vw;
  margin-top: 5vw;
  border-radius: var(--border-radius);
}

body {
  padding: 0;
}

header {
  padding: var(--default-padding);
}
